<p style="color: green"><%= notice %></p>

<h1>Celebs</h1>

<div id="celebs">
  <% @game.celebs.each do |celeb| %>
    <%= render celeb %>
  <% end %>
</div>

<%# link_to "New celeb", new_celeb_path %>
